<%= link_to "Return to Home", flats_path %>
<div class="card-trip">
  <img src=<%= @flat.picture %> />
  <div class="card-trip-infos">
    <div>
      <h2><%= @flat.name %></h2>
      <p><%= @flat.address %></p>
      <br/>
      <p><%= @flat.description %></p>
      <p>Can accomodate <%= @flat.number_of_guests %> guests </p>
      <%= link_to "Edit this flat", edit_flat_path %>
      <br/>
      <%= link_to "Delete this flat", @flat, method: :delete, data: { confirm: "Are you sure you want to delete this flat"} %>
    </div>
    <h2 class="card-trip-pricing"><%= @flat.price_per_night %>$ per night</h2>
  </div>
</div>
